* {
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    
}
body:before {
  content: '';
  background-image: url(bg.jpg);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.block {
    background-color: #ddd;
    border: solid 1px #aaa;
    padding: 20px;
    text-align: center;
    height: 100%;
}

.p-0 {
padding: 0;
}

.header {
  min-height: 90px;
  margin-bottom: 50px;
  background-color: white;
  max-width: 104%;
}
.head_about {
  margin-top: -6%;
}
.logo {
  padding-left: 17%;
  padding-top: 5%;
  height: 100%;
}
.logo_img {
  max-width: 83px;
}
.navbar1 {
  
  height: 100%;
  padding-top: 20%;
}
.nav1 {
 margin-left: 40%;
 
 color: rgb(255, 255, 255);
 font-size: 15px;
 text-decoration-line: none;
}
.navbutt {
  height: 100%;
  padding-top: 5%;
  padding-left: 10%;
}
.white {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 151px;
  height: 42px;
  border-radius: 10px;
  font-size: 13px;
}
.black {
  background-color: #000;
  color: white;
  border: 2px solid white;
  margin-top: 5%;
  height: 50px;
  border-radius: 20px;
  font-size: 19px;
}
.navphone {
  height: 100%;
padding-top: 2%;
 color: black;
 font-size: 16px;
}
.phoneapp {
  max-width: 170px;
  margin-left: 7%;
}
.nav_number {
  font-size: 16px;
}

.appointment {
    min-height: 100%;
    max-width: 100%;
    margin-bottom: 20%;

}
.promo {
    min-height: 460px;
    margin-bottom: 50px;
    text-align: center;
    max-width: 100%;
}

.offering {
    min-height: 80px;
    margin-bottom: 50px;
    max-width: 100%;
}

.service {
  min-height: 250px;
  margin-bottom: 1%;
  max-width: 100%;
}


.img_service {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.wrapper{
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}

@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}


/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
  .service {
    min-height: 250px;
    margin-bottom: -20%;
    max-width: 105%;
  }
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 20px;
	height: 20px;
}
.slider .slick-arrow.slick-prev{
	border: solid 0px;
	background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	border: solid 0px;
	right: 2%;
	background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}


.slider__item {
	 max-width: 100%;
	 margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  
}
.slider__item img{
	max-width: 100%;
 height: auto;
 border-radius: 10px 10px 0px 0px;
}
.slider__item.slick-center{
	
}

.card-content {
	max-width: 70%;
	height: auto;
	background-color: #ffffff;
  border-radius: 10px;
  }

  .slider .slider__item .card-content {
    height: 600px; /* Примерное значение, которое нужно подогнать под ваш дизайн */
    overflow-y: auto; /* Добавляем вертикальную прокрутку, если содержимое превышает высоту блока */
}

.card-name {
margin-top: 5%;
font-size: 20px;
}

.card-job {
  margin-top: 5%;
  }
details{
  display:block;
  background: #fff;
  border-radius: 8px;
  overflow:hidden;
  margin-bottom: 1.5rem;
  margin-top: 5%
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   padding: .3em .3em .3em 1.4em;
   position: relative;
}
summary:before {  
}
details[open] > summary:before {
  
  transform: rotateZ(90deg);
}
summary ~ * {
   padding: 0 2em 10px 2em;
}
details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}
.describe-employee {
font-size: small;
}


  form {
    width: 90%;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: -10%;
  }
  
  /* Стили для заголовка */
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Стили для полей ввода */
  label {

    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  select,
  input[type="date"] {
    
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  #comment {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    margin-bottom: 20px;
    resize: none;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 50px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
  }
  
  /* Стили для ошибок */
  .error {
    color: #f00;
    font-size: 1.2rem;
    margin-top: 10px;
  }

  /* Стили для модального окна */
.modale {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px); /* Добавляем эффект размытия фона */
  animation: fadeIn 0.5s ease-in-out; /* анимация появления */
}

.modale-content {
	background: none;
  margin: 5% 30%;
  width: 500px;
  opacity: 1; /* Устанавливаем прозрачность блока */
  transition: opacity 0.3s ease; /* Добавляем плавный переход для прозрачности */
  
}

.close {
  color: #aaa;
  float: right;
  margin-right: -15px;
  font-size: 34px;
  font-weight: bold;
  cursor: pointer;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#openModalBtn {
  
}
#openModalBtn2 {
   
}
@media (max-width:395px) {

  .modale-content {
    margin: 20% 1%;
    width: 300px;
   
  }
  .close {
    margin-right: -50px;
  }
}
@media (max-width:767px) {

  .modale-content {
    margin: 15%;
    margin-left: -10%;
    width: 400px;
   
  }
  .close {
    margin-right: 22%;
    margin-top: -10px;
}
.mapsize{
  width: 350px; 
  height: 250px;
}
  }
@media (min-width:768px) {
  .modale-content {
    margin: 5% 10%;
  }

  .mapsize{
    width: 650px; 
    height: 500px;
  }
}


a {
  
  color: black;
  font-size: 22px;
  text-decoration-line: none;
}
.about_img {
  max-width: 250px;
  padding-top: 3%;
  
} 

.about {
  background-color: #f7f2f1;
  box-shadow: 3px 2px 10px rgb(167, 167, 167);
  max-width: 95%;
  
  font-size: 15px;
  padding: 2%;
  margin-left: 8%;
}
.about_text {
  padding: 10px;
}
.ya {
  margin-top: 25%;
  max-width: 100%;
  margin-left: 4%;
}
.offer {
  padding-left: 25px;
  padding-top: 25px;
  text-align: center;
  height: 100%;
  
  font-size: 35px;
}
.service_card {
  
  font-size: 11px;
  text-align: center;
  margin-left: 5%;
  
}
.name_employee {

font-size: 24px;
padding-top: 5%;
}
.job {
  
font-size: 22px;
padding-bottom: 5%;
}
.appointment_down {
  background-color: #f3edee;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  height: 100%;
  min-width: 148%;
  margin-left: -15%;
  margin-top: 15%;
  margin-left: -16%;
}
.appointment_head {
  
  font-size: 30px;
  margin: 5%;
}
.appointment_text {
  
  font-size: 20px;
  margin: 5%;
}
.footer {
  max-width: 104%;
  background-color: black;
}
.foo-img {
  max-width: 195%;
}
.foo-phone {
  margin-left: 11%;
  margin-top: 150%;
}
.foo-number {
  font-size: 7px;
}
.foo-nav {
  text-align: center;
}
.foo-menu {
  margin-top: 20%;
  color: white;
  font-size: 7px;
  text-decoration-line: none;
}

.copy {
  font-size: 6px;
}
.foo-social {
  color: white;
  font-size: 8px;
  margin-top:10%;
}

.ya_size {
  height: 10%;
}
.smicon {
  width: 20px;
  height: 20px;
}
.smlist {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 765px) {
  .slider .slider__item .card-content {
    height: 500px;
    overflow-y: auto; 
    font-size: 13px;
}
}
/* ------------------------MEDIUM------------------------------------------------------------------ */

@media (min-width: 768px) {
  .logo_img {
    max-width: 220px;
}
.navbar1 {
    height: 100%;
    padding-top: 44%;
}
.nav1 {
  margin-left: 20%;
  
  color: rgb(255, 255, 255);
  font-size: 17px;
  text-decoration-line: none;
}
.head_about {
  margin-top: 0%;
}
.navbutt {
  height: 100%;
  padding-top: 13%;
  padding-left: 3%;
}
.navphone {
  height: 100%;
  padding-top: 8%;
  
  color: black;
  font-size: 16px;
}
.phoneapp {
  max-width: 170px;
  margin-left: 1%;
}
.about {
  background-color: #f7f2f1;
  box-shadow: 3px 2px 10px rgb(167, 167, 167);
  max-width: 95%;
  
  font-size: 22px;
  padding: 2%;
  margin-left: 4%;
}
.about_img {
  max-width: 450px;
  padding-top: 2%;
}
.about_text {
  padding: 30px;
}
.ya {
  margin-top: 15%;
  max-width: 100%;
  margin-left: 4%;
}
.img_service {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.service_card {
  
  font-size: 20px;
  text-align: center;
  padding-left: 10%;
  padding-top: 5%;
}
.foo-number {
  font-size: 18px;
}
.foo-img {
  max-width: 140%;

}
.foo-phone {
  margin-left: 11%;
  margin-top: -25%;
}
.foo-menu {
  margin-top: 13%;
  color: white;
  font-size: 15px;
  text-decoration-line: none;
}
.copy {
  font-size: 13px;
}
.ya_size {
  height: auto;
}

.black {
  background-color: #000;
  color: white;
  border: 2px solid white;
  margin-top: 5%;
  height: 80px;
  border-radius: 20px;
  font-size: 28px;
  padding: 17px;
}
.smicon {
  width: 40px;
  height: 40px;
}
.smlist {
  display: flex;
  justify-content: space-evenly;
}
.foo-social {
  font-size: 15px;
}
}
.close {
  margin-right: -3%;
  margin-top: -10px;
}
form {
  margin-left: 15%;
}
/* ------------------------LARGE------------------------------------------------------------------ */

@media (min-width: 992px) {
  .about_img {
    max-width: 360px;
    padding-top: 2%;
}
.nav1 {
  margin-left: 20%;
  
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration-line: none;
}
.navbar1 {
  height: 100%;
  padding-top: 33%;
}
.navbutt {
  height: 100%;
  padding-top: 10%;
  padding-left: 3%;
}
.service_card {
  
  font-size: 24px;
  text-align: center;
  padding-left: 10%;
  padding-top: 5%;
}
.img_service {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.appointment_down {
  background-color: #f3edee;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  height: 72%;
  min-width: 135%;
  margin-top: 28%;
  margin-left: -15%;
}
.black {
  background-color: #000;
  color: white;
  border: 2px solid white;
  margin-top: 5%;
  height: 96px;
  border-radius: 20px;
  font-size: 38px;
  padding: 17px;
}
.ya_size {
  height: 100%;
}
.modale-content {
  margin: 5% 15%;
}
}

/* -------------------------EXTRA EXTRA LARGE---------------------------------------------------------*/
@media (min-width: 1400px) {
  .nav1 {
    margin-left: 20%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration-line: none;
}
.navbar1 {
  height: 100%;
  padding-top: 20%;
}
.white {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 185px;
  height: 50px;
  border-radius: 10px;
  font-size: large;
}
.navbutt {
  height: 100%;
  padding-top: 6%;
  padding-left: 20%;
}
.nav_number {
  font-size: 19px;
}
.navphone {
  height: 100%;
  padding-top: 3%;
  color: black;
  font-size: 17px;
  margin-left: 20%;
}
.appointment_down {
  background-color: #f3edee;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  height: 89%;
  min-width: 25%;
  margin-top: 18%;
  margin-left: 0%;
}
.appointment_head {
  font-size: 65px;
  margin: 5%;
}
.appointment_text {
  font-size: 35px;
  margin: 5%;
}
.black {
  background-color: #000;
  color: white;
  border: 2px solid white;
  margin-top: 5%;
  height: 123px;
  border-radius: 20px;
  font-size: 54px;
  padding: 17px;
}
.foo-img {
  max-width: 85%;
 
}
.foo-phone {
  margin-left: 15%;
  margin-top: 10%;
}
.foo-menu {
  margin-top: 9%;
  color: white;
  font-size: 15px;
  text-decoration-line: none;
}
.copy {
  font-size: 15px;
}

.modale-content {
  margin: 5% 25%;
}
.smicon {
  width: 55px;
  height: 55px;
}
.foo-social {
  font-size: 19px;
}
}


/* -------------------------------------------------------------------------SERVICES.HTML--------------------------------------------------------------------------------------------- */

.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  max-width: 100%;
  text-align: center;
}

.category-btn {
  width: 100px;
  height: 50px;
  margin-right: 5px;
  background-color: #f4e2e2;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 10px;
}

#services-list {
  list-style: none;
  padding-left: 10%;
  padding-top: 2%;
  margin-top: 10px;
  
}

#services-list li {
  margin-bottom: 5px;
  margin-top: 5%;
  animation: fadeIn 0.5s ease-in-out;
}
.services-block {
  margin: 5%;
  padding-bottom: 5%;
  max-width: 90%;
  max-height: auto;
  border-radius: 24px;
background: rgba(249, 242, 242, 0.8);
}
/* ------------------------MEDIUM------------------------------------------------------------------ */

@media (min-width: 768px) {
  .category-btn {
    width: 120px;
    height: 50px;
    margin-right: 5px;
    background-color: #f4e2e2;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
  }
  
}

/* ------------------------LARGE------------------------------------------------------------------ */

@media (min-width: 992px) {
  .services-block {
    font-size: 20px;
    
  }
  .category-btn {
    font-size: 13px;
    height: 60px;
    width: 130px;
  }
}

@media (min-width: 1400px) {
  .category-btn {
    font-size: 16px;
    height: 60px;
    width: 200px;
  }
}

/* -------------------------------------------------------------------------ABOUT_US.HTML--------------------------------------------------------------------------------------------- */

.facade {
  max-width: 80%;
  height: auto;
  margin-bottom: 10%;
}

.facade_img {
  width: 100%;
  height: auto;
  margin-left: 20%;
}

.about_beautyhome {
  margin-bottom: 5%;
}

.about_beautyhome_text {
  max-width: 100%;
  height: auto;
  border-left: solid #000 3px;
  margin-left: 5%;
  padding-left: 5%;
}

.studio {
  max-width: 80%;
  height: auto;
  margin-bottom: 10%;
}

.studio_img {
  width: 100%;
  height: auto;
  margin-left: 20%;
}

